.jedi-form {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 35px;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    margin-top: 15px;
}

.header {
    width:  100%;
    font-weight: bold;
    font-size : 18pt;
    padding: 10px 0;
    margin: 0;
}

label[for="jedi-name"] {
    display: none;
}

.jedi_add {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#jedi-name {
    flex-grow: 1;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 20px 20px 0 0;
    font-family: monospace;
    font-size: 15pt;
}

#jedi-name:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #03A9F4;;
}

.add_button {
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 12pt;
    color: white;
    font-weight: bold;
    background-color: #000;
    border: none;
    margin: 5px 0;
    cursor: pointer;
}

.add_button img {
    width: 20px;
}

.add_button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

@media screen and (max-width: 680px){
    .jedi-form {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 975px){
    .jedi-form {
        max-width: 400px !important;
    }
}

@media screen and (min-width: 1200px){
    .jedi-form {
        max-width: 500px !important;
    }
}

