.jedi-form {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
}

.header {
    width:  100%;
    font-weight: bold;
    font-size : 18pt;
    padding: 10px 0;
    margin: 0;
}

/* label[for="jedi-name"] {
    width: 100%;
    font-size: 1.5vw;
    padding: 20px;
    padding-bottom: 0px;
}
 */
#jedi-name {
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 20px;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 15pt;
    width: 70%;
}

#jedi-name:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #03A9F4;;
}

.add_button {
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 12pt;
    color: white;
    font-weight: bold;
    background-color: #000;
    border: none;
    margin: 5px 0;
}

.add_button img {
    width: 20px;
}

.add_button:disabled {
    background-color: #aaa;
}

 @media screen and (max-width: 680px){
    .jedi-form {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 975px){
    .jedi-form {
        max-width: 400px !important;
    }
}

@media screen and (min-width: 1200px){
    .jedi-form {
        max-width: 500px !important;
    }
}

