table, td, th {
    border: none;
}

.jedi-table {
    /* Fix incorrect width in some configurations due to display-table */
    width: 100.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    text-align: center;
    display: table;
    border-collapse: collapse;
    background: #ffffff;
}

.jedi-table thead {
    font-weight: bold;
    border-bottom: 1px solid #b0c0c7 !important;
    background: #333333;
    color: #ffffff;
}

.jedi-table thead tr {
    background: #333333;
    color: #ffffff;
}

.jedi-table thead {
    font-weight: bold;
    border-bottom: 1px solid #b0c0c7 !important;
}


.jedi-table td, .jedi-table th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.jedi-table td {
    padding: 10px 5px;
}

.jedi-table tbody tr:nth-child(even) {
    background: #ffffff;
}
.jedi-table tbody tr:nth-child(odd) {
    background: #deeff7;
}
