.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.AppBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}
